	<!DOCTYPE html>
<html>
	<head>
		<title>Web For Energy Mid-Term Project</title>
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!--Load the AJAX API-->
   		 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

   		 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style>
  body {
      position: relative; 
  }
  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #FF8800;}
  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #FF8800;}
  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #FF8800;}
  #section43 {padding-top:50px;height:500px;color: #fff; background-color: #FF8800;}
  </style>
	</head>


	<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Web For Energy Mid-Term Project </a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="#section1">Part des A et B </a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Selon l'annee <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#section41">Pour A</a></li>
              <li><a href="#section42">Pour B</a></li>
              <li><a href="#section43">Total</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>    

		<script>
			var datas = {
  "A": {
    "2015-8-15": 2,
    "2015-10-6": 3.5,
    "2015-10-9": 3.5,
    "2015-10-10": 1.5,
    "2015-10-16": 3.5,
    "2015-10-18": 3.5,
    "2015-10-19": 3.5,
    "2015-10-20": 10,
    "2015-10-25": 3,
    "2015-10-30": 3.5,
    "2015-11-1": 3,
    "2015-11-9": 3,
    "2015-11-11": 8.5,
    "2015-11-18": 3.5,
    "2016-0-5": 1.5,
    "2016-0-15": 10,
    "2016-0-20": 3.5,
    "2016-1-2": 5,
    "2016-1-5": 3.5,
    "2016-1-8": 3.5,
    "2016-1-16": 3,
    "2016-1-25": 5.5,
    "2016-2-4": 2,
    "2016-2-11": 3.5,
    "2016-2-18": 10,
    "2016-2-24": 3.5,
    "2016-2-30": 6.5,
    "2016-3-7": 3.5,
    "2016-3-19": 3.5,
    "2016-3-20": 8,
    "2016-3-22": 3.5,
    "2016-3-25": 10,
    "2016-3-26": 8.5,
    "2016-3-27": 8.5,
    "2016-3-29": 6.5,
    "2016-4-4": 10,
    "2016-4-6": 3.5,
    "2016-4-12": 3.5,
    "2016-4-13": 10,
    "2016-4-20": 3.5,
    "2016-4-23": 4.75,
    "2016-4-25": 5,
    "2016-4-30": 10,
    "2016-5-3": 6.5,
    "2016-5-8": 6,
    "2016-5-13": 10,
    "2016-5-15": 1.5,
    "2016-5-17": 6.5,
    "2016-5-28": 3,
    "2016-6-1": 10,
    "2016-6-7": 2,
    "2016-6-15": 7,
    "2016-6-20": 5.5,
    "2016-6-26": 5,
    "2016-6-28": 3,
    "2016-6-29": 5,
    "2016-8-8": 2,
    "2016-8-12": 3.5,
    "2016-8-15": 3,
    "2016-8-27": 8.5,
    "2016-8-28": 3.5,
    "2016-8-29": 2,
    "2016-9-11": 5,
    "2016-9-12": 3.5,
    "2016-9-13": 2,
    "2016-9-19": 7,
    "2016-9-25": 7,
    "2016-9-26": 7,
    "2016-9-27": 5.5,
    "2016-9-28": 7,
    "2016-9-31": 3.5,
    "2016-10-2": 3.5,
    "2016-10-8": 9.5,
    "2016-10-9": 3.5,
    "2016-10-10": 2,
    "2016-10-14": 3.5,
    "2016-10-15": 3,
    "2016-10-16": 5,
    "2016-10-17": 3.5,
    "2016-10-23": 3.5,
    "2016-10-24": 2,
    "2016-11-7": 10,
    "2016-11-8": 5.5,
    "2017-0-2": 5,
    "2017-0-4": 10,
    "2017-0-6": 6.5,
    "2017-0-9": 5,
    "2017-0-11": 7,
    "2017-0-13": 3.5,
    "2017-0-16": 3,
    "2017-0-17": 5,
    "2017-0-18": 7,
    "2017-0-19": 2,
    "2017-0-24": 10,
    "2017-0-27": 8.5,
    "2017-0-30": 3.5,
    "2017-0-31": 5,
    "2017-1-6": 5,
    "2017-1-8": 8.5,
    "2017-1-13": 5,
    "2017-1-16": 2,
    "2017-1-23": 2,
    "2017-1-27": 3.25,
    "2017-1-28": 9.75,
    "2017-2-1": 6.5,
    "2017-2-2": 6.5,
    "2017-2-3": 6.5,
    "2017-2-7": 5,
    "2017-2-9": 3.5,
    "2017-2-13": 2.5,
    "2017-2-14": 8,
    "2017-2-16": 2,
    "2017-2-22": 3,
    "2017-2-23": 3.5,
    "2017-2-27": 10,
    "2017-2-28": 10,
    "2017-2-29": 10,
    "2017-2-30": 9,
    "2017-2-31": 7.5,
    "2017-3-4": 3.5,
    "2017-3-6": 3.5,
    "2017-3-7": 3.5,
    "2017-3-11": 10,
    "2017-3-12": 10,
    "2017-3-13": 6,
    "2017-3-18": 10,
    "2017-3-19": 7,
    "2017-3-21": 6.5,
    "2017-3-24": 3.5,
    "2017-3-27": 6,
    "2017-3-28": 7,
    "2017-4-2": 10,
    "2017-4-3": 7,
    "2017-4-4": 3.5,
    "2017-4-9": 5,
    "2017-4-11": 2,
    "2017-4-12": 7,
    "2017-4-15": 5,
    "2017-4-19": 3.5,
    "2017-4-23": 10,
    "2017-4-24": 7,
    "2017-4-29": 7,
    "2017-5-1": 3.5,
    "2017-5-7": 7,
    "2017-5-14": 10,
    "2017-5-15": 2,
    "2017-5-16": 7,
    "2017-5-19": 7,
    "2017-5-22": 2,
    "2017-5-27": 3,
    "2017-5-28": 3.5,
    "2017-6-3": 8.5,
    "2017-6-4": 8.5,
    "2017-6-5": 10.5,
    "2017-6-6": 8.5,
    "2017-6-7": 11.5,
    "2017-6-10": 5,
    "2017-6-17": 3,
    "2017-6-20": 5,
    "2017-6-25": 5,
    "2017-6-26": 6,
    "2017-6-27": 6.5,
    "2017-6-28": 7,
    "2017-7-30": 5,
    "2017-8-11": 4.5,
    "2017-8-13": 3,
    "2017-8-15": 3.5,
    "2017-9-9": 8.5,
    "2017-9-16": 8.5,
    "2017-9-17": 8.5,
    "2017-9-18": 8.25,
    "2017-9-19": 3.25,
    "2017-9-20": 8,
    "2017-9-23": 10,
    "2017-9-24": 8.5,
    "2017-9-25": 5,
    "2017-9-27": 10,
    "2017-10-8": 10,
    "2017-10-10": 3.5,
    "2017-10-13": 3,
    "2017-10-14": 6.5,
    "2017-10-15": 5,
    "2017-10-16": 3.5,
    "2017-10-17": 11.25,
    "2017-10-21": 3,
    "2017-10-22": 3.5,
    "2017-10-27": 10,
    "2017-10-29": 10,
    "2017-11-4": 10,
    "2017-11-5": 8,
    "2017-11-6": 3.5,
    "2017-11-8": 8.5,
    "2017-11-11": 5,
    "2017-11-18": 10,
    "2017-11-19": 10,
    "2017-11-20": 11,
    "2017-11-22": 10,
    "2018-0-8": 10,
    "2018-0-10": 7,
    "2018-0-15": 9.75,
    "2018-0-19": 9.5,
    "2018-0-23": 4.5,
    "2018-0-29": 9.5,
    "2018-0-31": 6.25,
    "2018-1-5": 1.5,
    "2018-1-19": 9.5,
    "2018-1-23": 3.25,
    "2018-1-26": 6.5,
    "2018-1-27": 8,
    "2018-1-28": 8,
    "2018-2-1": 8,
    "2018-2-2": 7.75,
    "2018-2-6": 7,
    "2018-2-19": 9.75,
    "2018-2-20": 3.25,
    "2018-2-21": 8,
    "2018-2-23": 4.75,
    "2018-3-3": 3.25,
    "2018-3-4": 9.75,
    "2018-3-5": 3.25,
    "2018-3-6": 6.5,
    "2018-3-9": 9.75,
    "2018-3-10": 4.75,
    "2018-3-11": 9.5,
    "2018-3-23": 10,
    "2018-3-24": 3.5,
    "2018-3-25": 10.25,
    "2018-3-26": 3.5,
    "2018-3-27": 6.75,
    "2018-3-30": 6.25,
    "2018-4-2": 6.5,
    "2018-4-4": 3.25,
    "2018-4-14": 9.75,
    "2018-4-16": 10,
    "2018-4-18": 6.5,
    "2018-4-22": 4.75,
    "2018-4-23": 6.5,
    "2018-4-26": 6.5,
    "2018-4-28": 10,
    "2018-4-30": 3.25,
    "2018-5-4": 7.5,
    "2018-5-6": 7.5,
    "2018-5-7": 3.25,
    "2018-5-11": 6.5,
    "2018-5-13": 6.5,
    "2018-5-18": 10,
    "2018-5-20": 10,
    "2018-5-22": 6.5,
    "2018-5-25": 9.75,
    "2018-5-26": 3.25,
    "2018-5-27": 3.25,
    "2018-5-29": 3.25,
    "2018-6-9": 10.25,
    "2018-6-11": 10.25,
    "2018-6-12": 3.5,
    "2018-6-13": 6.75
  },
  "B": {
    "2015-11-7": 2,
    "2015-11-8": 2,
    "2015-11-10": 4,
    "2015-11-15": 2,
    "2015-11-17": 4,
    "2015-11-18": 2,
    "2016-0-4": 2,
    "2016-0-5": 6.5,
    "2016-0-6": 5,
    "2016-0-7": 8,
    "2016-0-8": 2,
    "2016-0-11": 6,
    "2016-0-13": 7,
    "2016-0-14": 7,
    "2016-0-18": 8,
    "2016-0-19": 6,
    "2016-0-22": 4,
    "2016-0-25": 3,
    "2016-0-26": 10,
    "2016-0-27": 10,
    "2016-0-28": 4,
    "2016-0-29": 8,
    "2016-1-1": 9,
    "2016-1-2": 2,
    "2016-1-3": 7,
    "2016-1-4": 6,
    "2016-1-5": 5,
    "2016-1-8": 6,
    "2016-1-9": 9,
    "2016-1-10": 10,
    "2016-1-12": 2,
    "2016-1-15": 2,
    "2016-1-17": 4,
    "2016-2-7": 6,
    "2016-2-8": 2,
    "2016-2-9": 2,
    "2016-2-10": 6,
    "2016-2-14": 6,
    "2016-2-17": 4,
    "2016-2-21": 6,
    "2016-2-22": 4,
    "2016-2-23": 4.5,
    "2016-2-25": 1.5,
    "2016-2-29": 6,
    "2016-2-31": 4.5,
    "2016-3-4": 2,
    "2016-3-6": 4,
    "2016-3-11": 4,
    "2016-4-2": 4,
    "2016-4-3": 2,
    "2016-4-9": 2,
    "2016-4-17": 4,
    "2016-4-19": 2,
    "2016-4-23": 4,
    "2016-5-16": 5.5,
    "2016-6-5": 2,
    "2016-8-16": 1,
    "2016-8-20": 1,
    "2016-10-9": 2,
    "2016-10-15": 2,
    "2016-10-16": 3,
    "2016-10-18": 5.75,
    "2016-10-22": 7,
    "2016-10-24": 4,
    "2016-10-25": 3,
    "2016-10-29": 2,
    "2016-10-30": 3,
    "2016-11-1": 6,
    "2016-11-2": 3,
    "2016-11-6": 3,
    "2016-11-9": 7,
    "2016-11-13": 2,
    "2016-11-14": 2,
    "2016-11-15": 5,
    "2016-11-16": 3,
    "2017-0-3": 5,
    "2017-0-5": 6,
    "2017-0-6": 4,
    "2017-0-9": 2,
    "2017-0-10": 6,
    "2017-0-12": 8,
    "2017-0-13": 3,
    "2017-0-16": 4,
    "2017-0-19": 2,
    "2017-0-20": 2,
    "2017-0-23": 9,
    "2017-0-25": 8,
    "2017-0-30": 5,
    "2017-0-31": 3,
    "2017-1-1": 5,
    "2017-1-2": 3,
    "2017-1-3": 3,
    "2017-1-10": 4,
    "2017-1-20": 6,
    "2017-1-21": 2,
    "2017-1-22": 4,
    "2017-1-23": 2,
    "2017-1-24": 2,
    "2017-1-27": 2,
    "2017-2-1": 2,
    "2017-2-2": 4,
    "2017-2-3": 4,
    "2017-2-6": 6,
    "2017-2-7": 2,
    "2017-2-8": 4,
    "2017-2-10": 6,
    "2017-2-13": 2,
    "2017-2-15": 4,
    "2017-2-16": 2,
    "2017-2-17": 4,
    "2017-2-20": 8,
    "2017-2-21": 4,
    "2017-2-22": 4,
    "2017-2-24": 4,
    "2017-3-25": 2,
    "2017-3-26": 4,
    "2017-4-4": 0.5,
    "2017-4-5": 5.5,
    "2017-4-9": 2.5,
    "2017-4-10": 2,
    "2017-4-15": 2.5,
    "2017-4-16": 6,
    "2017-4-17": 5,
    "2017-4-22": 2,
    "2017-4-26": 4,
    "2017-4-30": 2,
    "2017-4-31": 2,
    "2017-5-1": 3,
    "2017-5-2": 2,
    "2017-5-8": 2,
    "2017-5-9": 10,
    "2017-5-12": 2,
    "2017-5-13": 1,
    "2017-5-20": 2.75,
    "2017-5-21": 2,
    "2017-5-23": 4,
    "2017-5-26": 2,
    "2017-5-27": 2,
    "2017-8-4": 2,
    "2017-8-6": 4,
    "2017-8-12": 2,
    "2017-8-14": 4,
    "2017-8-18": 2,
    "2017-8-19": 2,
    "2017-8-20": 2,
    "2017-8-21": 5,
    "2017-8-22": 4,
    "2017-8-25": 4,
    "2017-8-26": 5,
    "2017-8-27": 4,
    "2017-8-28": 3,
    "2017-8-29": 2,
    "2017-9-2": 6,
    "2017-9-3": 6,
    "2017-9-4": 4,
    "2017-9-6": 2,
    "2017-9-10": 4,
    "2017-9-11": 3,
    "2017-9-13": 3,
    "2017-9-19": 4,
    "2017-9-25": 2,
    "2017-9-26": 3,
    "2017-10-6": 6,
    "2017-10-7": 6,
    "2017-10-9": 4,
    "2017-10-13": 2,
    "2017-10-14": 4,
    "2017-10-15": 5,
    "2017-10-20": 6,
    "2017-10-23": 8,
    "2017-10-24": 6,
    "2017-10-28": 6,
    "2017-10-30": 7,
    "2017-11-7": 5,
    "2017-11-14": 4,
    "2017-11-21": 4,
    "2018-0-9": 9,
    "2018-0-11": 6,
    "2018-0-12": 8.5,
    "2018-0-16": 8,
    "2018-0-17": 8,
    "2018-0-18": 7.5,
    "2018-0-22": 7,
    "2018-0-23": 2,
    "2018-0-24": 8,
    "2018-0-25": 7,
    "2018-0-26": 8,
    "2018-0-30": 8,
    "2018-0-31": 4,
    "2018-1-1": 8,
    "2018-1-2": 8,
    "2018-1-5": 5,
    "2018-1-7": 5,
    "2018-1-8": 2,
    "2018-1-16": 4,
    "2018-2-8": 2,
    "2018-2-9": 4,
    "2018-2-20": 4,
    "2018-2-22": 2,
    "2018-2-29": 4,
    "2018-2-30": 4,
    "2018-3-3": 2,
    "2018-3-12": 2,
    "2018-3-13": 9,
    "2018-4-3": 4,
    "2018-4-4": 4,
    "2018-4-11": 8,
    "2018-4-15": 4,
    "2018-4-17": 6,
    "2018-4-24": 2,
    "2018-4-25": 4,
    "2018-4-31": 6,
    "2018-5-1": 4,
    "2018-5-5": 2,
    "2018-5-7": 2,
    "2018-5-8": 4,
    "2018-5-15": 4
  }
}
			var sum_A = 0; 
			var sum_B = 0;
			var sum_2015_A = 0;
			var sum_2016_A = 0;
			var sum_2017_A = 0;
			var sum_2018_A = 0;
			var sum_2015_B = 0;
			var sum_2016_B = 0;
			var sum_2017_B = 0;
			var sum_2018_B = 0;
			var sum_2015_TOT = sum_2015_A+sum_2015_B;
			var sum_2016_TOT = sum_2016_A+sum_2016_B;
			var sum_2017_TOT = sum_2017_A+sum_2017_B;
			var sum_2018_TOT = sum_2018_A+sum_2018_B;
			
					$.each(datas["A"],function(keyA,valA){
						sum_A+=valA;
					});
					$.each(datas["B"],function(keyB,valB){
						sum_B+=valB;
					});

					$.each(datas,function(k,v){
						if (k == "A"){
							$.each(v,function(d,l){
								var ds=d.split("-");
								if (ds[0]=="2015"){
									sum_2015_A+=l;}
								if (ds[0]=="2016"){
									sum_2016_A+=l;}
								if (ds[0]=="2017"){
									sum_2017_A+=l;}
								if (ds[0]=="2018"){
									sum_2018_A+=l;}
							});
						}
						if (k == "B"){
							$.each(v,function(d,l){
								var ds=d.split("-");
								if (ds[0]=="2015"){
									sum_2015_B+=l;}
								if (ds[0]=="2016"){
									sum_2016_B+=l;}
								if (ds[0]=="2017"){
									sum_2017_B+=l;}
								if (ds[0]=="2018"){
									sum_2018_B+=l;}
							});
						}
					});


			sum_2015_TOT = sum_2015_A+sum_2015_B;
			sum_2016_TOT = sum_2016_A+sum_2016_B;
			sum_2017_TOT = sum_2017_A+sum_2017_B;
			sum_2018_TOT = sum_2018_A+sum_2018_B;


		</script>

		 <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(DrawPartAetB);
      google.charts.setOnLoadCallback(DrawPerYear);
	  google.charts.setOnLoadCallback(DrawA);
	  google.charts.setOnLoadCallback(DrawB);
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function DrawPartAetB() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Somme de A ', sum_A],
          ['Somme de B', sum_B],
        ]);
        // Set chart options
        var options = {'title':'la part des A et des B dans le json',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('PartAetB'));
        chart.draw(data, options);
      }

      function DrawPerYear() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Somme 2015', sum_2015_TOT],
          ['Somme 2016', sum_2016_TOT],
          ['Somme 2017', sum_2017_TOT],
          ['Somme 2018', sum_2018_TOT],
        ]);
        // Set chart options
        var options = {'title':'la part des annees dans le json',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('PerYear'));
        chart.draw(data, options);
      }

      function DrawA() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Somme en 2015', sum_2015_A],
          ['Somme en 2016', sum_2016_A],
          ['Somme en 2017', sum_2017_A],
          ['Somme en 2018', sum_2018_A],
        ]);
        // Set chart options
        var options = {'title':'la repartition des valeurs selon annee dans A',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('A'));
        chart.draw(data, options);
      }

      function DrawB() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Somme en 2015', sum_2015_B],
          ['Somme en 2016', sum_2016_B],
          ['Somme en 2017', sum_2017_B],
          ['Somme en 2018', sum_2018_B],
        ]);
        // Set chart options
        var options = {'title':'la repartition des valeurs selon annee dans B',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('B'));
        chart.draw(data, options);
      }

    </script>

<div id="section1" class="container-fluid">
	<center><div id="PartAetB"></div></center>
</div>
    <div id="section41" class="container-fluid">
    	    <center><div id="A"></div></center>
    	</div>
    <div id="section42" class="container-fluid"> 
       
            <center> <div id="B"></div></center>
</div>


    <div id="section43" class="container-fluid">  
      <div id="B"></div>
        <center> <div id="PerYear"></div></center>
</div>
	</body>
</html>

















